html,
body,
#root{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flow-root;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 12px;
  color: rgb(66, 65, 65);
}
#root {
  max-width: 415px;
}
/** User Login**/
.thoughts-container{
  width: 80%;
  height: 100%;
}

.app-container{
  display: flex;
}

.login{
width: 100%;
height: 100%;
}
.login-header{
  width: 100%;
  display: flex;
  justify-content: center;
}
.login-header img{
  width: 300px;
  height: 300px;
}
.paragrah{
  text-align: center;
  font-weight: bolder;
  font-size: 15px;
}
.new-user, .existing-user{
  display: grid;
  margin: 0.71rem 0.71rem
}
.text-container{
  height: 30px;
  border: solid 2px rgb(182, 36, 36);
  margin: 0px 30px;
}
.button{
  margin: 0px 30px;
}

/** Post Thoughts**/
.title{
margin-bottom: 0px;
}
.container{
  height: 250px;
  border: solid 2px rgb(182, 36, 36);
  margin: 0.71rem 0.71rem;
  background-color:#fdd0d0;
}
.header{
  margin: 0.71rem 0.71rem; 
  display: flex; 
}
.header img{
  width: 45px;
  height: 45px;
}
h1{
  margin: 10px;
}

.message-area p {
  width: 100%;
  margin: 0.0rem 0.73rem;
  text-align: center;
}

.text-area {
  width: 85%;
  height: 100px;
  margin: 0px 15px;
  border: solid 2px rgb(182, 36, 36);
}
.send-button{
  margin: 10px 15px;
  background-color: #ffadad;
  border-radius: 0.93rem;
  border-color: #ffadad;
}
.heart-button{
  width: 100%;
  margin: 0px 15px;
  border-radius: 0.93rem;
  border-color: #ffadad
}
.heart-button img {
  width: 2.2rem;
  height: 2.2rem;
  background-color: #ffadad;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
}
.error {
  color: red;
  font-weight: bolder;
}
.error-message {
  width: 100%;
}
h3 {
  text-align: center;
  padding: 0px 08px;
}

/** Show Thoughts**/
.post-container-message {
  width: 93%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 0.71rem 0.71rem;
  border: solid 2px rgb(182, 36, 36);
  box-shadow: 5px 5px #ffadad;
}

.message-container {
  width: 100%;
  height: 4.8rem;
  padding: 10px 15px;
  
}
.message-container p {
  margin: 0;
  margin-top: 5px;
  text-align: justify;
}
.hashtag{
  display: flex;
  font-weight: bold;
  color: #8f2525;
}
.hashtag p {
  margin: 20px 5px;
}
.likes {
  display: flex;
 
}
.likes p {
  padding: 0rem 0.71rem;
}
.time {
  text-align: end;
}

.label {
  height: 20px;
  background-color: #ffadad;
  width: 128px;
  text-align: center;
  border-radius: 10px;
  color: #8f2525;
  font-weight: bolder;
  box-shadow: 2px 2px;
}
.trending1, .trending{
  display: none;
}
@media (min-width: 360px) {
  .text-area {
    width: 85%;
  }
}
@media (min-width: 411px) {
  .login-header img{
    width: 400px;
    height: 400px;
  }
  .text-area {
    width: 335px;
  }
}
@media (min-width: 768px) {
  #root {
    max-width: 768px;
    margin-top: 20px;
  }
  .thoughts-component, .getThoughts {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .trending1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 0px 5px;
    border-right: #eb8181 solid 3px
  }
  .trending{
    display: flex;
    width: 30%;
    margin: 0px 5px;
    border-right: #eb8181 solid 3px
  }
  .subtitle{
    text-align: center;
    font-weight: bolder;
    color: #ee8989;

  }
  .container, .post-container-message{
    width: 90%;
  }
  .login-header img{
    width: 700px;
    height: 700px;
    object-position: center;
  }
  .paragrah{
    font-size: 18px;
  }
  .text-area {
    width: 90%;
    font-size: 14px;
  }
  .message-container p{
    font-size: 14px;
  }
  .text-container, .button{
    margin: 0px 100px
  }
 
}
@media (min-width: 1024px) {
  #root {
    max-width: 768px;
    border: #ee8989 solid 3px;
    border-radius: 20px;
    box-shadow: 5px 5px #f79595;
  }
  
  .login-header img{
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 1536px) {
  .login-header img{
    width: 350px;
    height: 350px;
  }
 
}
@media (min-width: 1600px) {
  
}
